@tailwind components;
@tailwind utilities;

/* iA Writer Quattro S */
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-cream: hsl(45, 40%, 80%);
  --color-cream-darker: hsl(45, 40%, 75%);
  --color-chocolate: hsl(0, 10%, 25%);
  --color-green: hsl(115, 40%, 45%);
  --color-green-dark: hsl(115, 40%, 35%);
  --color-blue: hsl(215, 30%, 50%);

  /* Shiki variables */
  --astro-code-color-text: var(--color-blue);
  --astro-code-color-background: var(--color-cream-darker);
  --astro-code-token-constant: plum;
  --astro-code-token-string: orchid;
  --astro-code-token-comment: salmon;
  --astro-code-token-keyword: powderblue;
  --astro-code-token-parameter: seashell;
  --astro-code-token-function: dodgerblue;
  --astro-code-token-string-expression: burlywood;
  --astro-code-token-punctuation: linen;
  --astro-code-token-link: honeydew;
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  @apply text-base font-medium;
  font-family: "iA Writer Quattro S", sans-serif;

  background-color: var(--color-cream);
  color: var(--color-chocolate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-extrabold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

main {
  @apply w-full px-4 md:mx-auto md:w-3/5;
}

pre {
  @apply w-full overflow-x-auto rounded-md;
  background-color: var(--color-cream-darker);
}

code {
  color: var(--color-blue);
}

pre > code {
  @apply inline-block p-4;
}

a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-green-dark);
}

table {
  @apply block
w-full
  border-collapse
  overflow-x-auto
  whitespace-nowrap
  md:whitespace-normal;
}

th,
td {
  @apply px-4 py-2;

  border-width: 1px;
  border-style: solid;
  border-color: var(--color-chocolate);
}

th {
  text-align: left;
}

ul,
ol {
  list-style-position: outside;
}

ol {
  list-style: decimal;
}
