/* iA Writer Quattro S */
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-cream: hsl(45, 40%, 80%);
  --color-cream-darker: hsl(45, 40%, 75%);
  --color-chocolate: hsl(0, 10%, 25%);
  --color-green: hsl(115, 40%, 45%);
  --color-green-dark: hsl(115, 40%, 35%);
  --color-blue: hsl(215, 30%, 50%);

  /* Shiki variables */
  --astro-code-color-text: var(--color-blue);
  --astro-code-color-background: var(--color-cream-darker);
  --astro-code-token-constant: plum;
  --astro-code-token-string: orchid;
  --astro-code-token-comment: salmon;
  --astro-code-token-keyword: powderblue;
  --astro-code-token-parameter: seashell;
  --astro-code-token-function: dodgerblue;
  --astro-code-token-string-expression: burlywood;
  --astro-code-token-punctuation: linen;
  --astro-code-token-link: honeydew;
}

html {
  font-size: 20px;
}

body {
  font-family: "iA Writer Quattro S", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  background-color: var(--color-cream);
  color: var(--color-chocolate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

main {
  margin: 0 auto;
}

@media (min_width: 640px) {
  main {
    width: 80%;
  }
}

@media (min_width: 768px) {
  main {
    width: 80%;
  }
}

@media (min_width: 1024px) {
  main {
    width: 75%;
  }
}

@media (min_width: 1280px) {
  main {
    width: 55%;
  }
}

@media (min_width: 1536px) {
  main {
    width: 55%;
  }
}

pre {
  padding: 1.25rem;
  overflow-x: auto;
  min-width: 100%;
}

code {
  font-size: 1.2rem;
  width: 100%;
  color: var(--color-blue);
}

pre > code {
  display: block;

  border-radius: 0.4rem;
  background-color: var(--color-cream-darker);
}

a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-green-dark);
}

table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

th,
td {
  border-width: 1px;
  border-color: var(--color-chocolate);
  border-style: solid;
  padding: 0.4rem;
}

th {
  text-align: left;
}
